/* Cormorant & Lato */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Lato:wght@300;400;700&display=swap");

@import "tailwindcss";

/* <-----------  Part 1  --------------> */

/* 
:root {
  --font-gopher: var(--font-gopher),sans-serif;
}

@theme {
  --color-background: #fbf6f1;
  --color-foreground: #213614;

  --color-primary: #213614;
  --color-secondary: #e5e0da;
  --color-tertiary: #c2bfcb;
  --color-accent: #7e7b46;

}


@layer base {
  h1 {
    @apply text-[clamp(44px,5vw,123px)] font-medium leading-[clamp(45px,6vw,127px)];
  }

  h2 {
    @apply text-[clamp(37px,4vw,77px)] font-medium leading-[clamp(41px,4vw,85px)];
  }

  h3 {
    @apply text-[clamp(32px,3vw,62px)] font-medium leading-[clamp(25px,6vw,70px)] lg:font-medium;
  }

  h4 {
    @apply text-[clamp(26px,3vw,62px)] font-medium leading-[clamp(30px,6vw,70px)];
  }

  p {
    @apply text-[clamp(16px,2vw,22px)] leading-[clamp(28px,2vw,35px)];
  }

  a {
    @apply text-[clamp(16px,2vw,22px)] leading-[clamp(25px,2vw,35px)] underline underline-offset-4;
  }
}

body {
  font-family: var(--font-gopher), sans-serif;
}
  
*/

/*<---------- Part 2 ---------->*/

@theme {
  --color-background: #f7f4f0;
  --color-background-variant: #fdfcfa;

  --color-foreground: #2c2c2c;
  --color-foreground-variant: #5a5a5a;

  --color-primary: #9caa9e;
  --color-primary-hover: #6b7a6d;

  --color-secondary: #4a5d4f;
  --color-tertiary: #b8afa4;
  --color-tertiary-variant: #8b7e74;
  --color-accent: #c8d3c9;

  --font-heading: "Cormorant", serif;
  --font-body: "Lato", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  h1 {
    @apply text-[clamp(47px,5vw,123px)] font-medium leading-[clamp(49px,6vw,127px)];
  }

  h2 {
    @apply text-[clamp(37px,3vw,77px)] font-medium leading-[clamp(41px,3vw,85px)];
  }

  h3 {
    @apply text-[clamp(37px,3vw,32px)] font-medium leading-[clamp(60px,3vw,32px)];
  }

  h3 {
    @apply text-[clamp(22px,3vw,32px)] font-medium leading-[clamp(30px,3vw,45px)];
  }

  p {
    @apply text-[clamp(16px,2vw,22px)] leading-[clamp(28px,2vw,35px)];
  }

  a {
    @apply text-[clamp(16px,2vw,22px)] leading-[clamp(25px,2vw,35px)] underline underline-offset-4;
  }
}
