@import "tailwindcss";

:root {
  --font-gopher: var(--font-gopher);
}

@theme {
  --color-background: #fbf6f1;
  --color-foreground: #213614;

  --color-primary: #213614;
  --color-secondary: #e5e0da;
  --color-tertiary: #c2bfcb;
  --color-accent: #7e7b46;
}

@layer base {
  h1 {
    @apply text-[clamp(44px,5vw,123px)] font-medium leading-[clamp(45px,6vw,127px)];
  }

  h2 {
    @apply text-[clamp(37px,4vw,77px)] font-medium leading-[clamp(41px,4vw,85px)];
  }

  h3 {
    @apply text-[clamp(32px,3vw,62px)] font-medium leading-[clamp(25px,6vw,70px)] lg:font-medium;
  }

  h4 {
    @apply text-[clamp(26px,3vw,62px)] font-medium leading-[clamp(30px,6vw,70px)];
  }

  p {
    @apply text-[clamp(16px,2vw,22px)] leading-[clamp(28px,2vw,35px)];
  }

  a {
    @apply text-[clamp(16px,2vw,22px)] leading-[clamp(25px,2vw,35px)] underline underline-offset-4;
  }
}

body {
  font-family: var(--font-gopher), sans-serif;
}
